<div class="label-list-view ng-scope" style="display :flex; background: #f4f4f4; padding: 12px 15px; justify-content: flex-start;">

    <span class="fn-button" ng-click="self.refresh()">RELOAD</span>
    <span class="fn-button" ng-click="self.saveToAsset()">SAVE</span>
    <span class="fn-button" ng-click="self.saveAs()">SAVE AS</span>
    <span class="fn-button" >PRINT</span>
</div>
<div style="flex: 1; display: flex; flex-direction: column;">
    <div class="main-body-center border-style" style="position: relative;" id='layer-collection'>
        <layer-collection v-padding="vPadding" h-padding='hPadding'>
            <axis-layer min-val="self.getLeft()" max-val="self.getRight()" loga="self.getLogaX()"
                n-ticks="self.getMajorX() * self.getMinorX()" minor-ticks="self.getMinorX()" precision="4"
                grid="!!self.config.grid" placement="1">
            </axis-layer>
            <axis-layer min-val='self.getBottom()' max-val='self.getTop()'
                n-ticks="self.getMajorY() * self.getMinorY()" minor-ticks="self.getMinorY()"
                loga="self.getLogaY()" precision="4" grid="!!self.config.grid" axis-direction="'up'"
                placement="0"></axis-layer>
            <scatter-layer ng-show="!layer._notUsed" min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()" loga="self.getLogaX()"
                ortho-loga="self.getLogaY()" my-data-x="layer.dataX" 
                my-data-y="layer.dataY" symbol="self.getSelectionValue('Z3').isUsed ? 'textSymbol' : 'circle'"
                symbol-size="5" symbol-fill-style="layer.color" symbol-stroke-style="'transparent'"
                color-func="layer.color" point-size-func="layer.size" symbol-func="layer.textSymbol"
                ng-repeat="layer in self.layers">
            </scatter-layer>
            <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()"
                max-y="self.getTop()" max-draw-y="self.getTop()" ortho-loga="self.getLogaY()"
                loga="self.getLogaX()" formula="self.regLine" eqn-offsets="['50px', '0%']"
                line-color="self.regLine.lineColor" line-dash="self.regLine.lineStyle.join(' ')"
                line-width="self.regLine.lineWidth" show-equation='true' mse="self.mse">
            </line-formula-layer>
            <!--<line-formula-layer ng-show="layer._useReg" min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'-->
                <!--max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()"-->
                <!--max-y="self.getTop()" max-draw-y="self.getTop()" ortho-loga="self.getLogaY()"-->
                <!--loga="self.getLogaX()" formula="layer.reg" eqn-offsets="['50px', '0%']"-->
                <!--line-color="layer.reg.lineColor" line-dash="layer.reg.lineStyle.join(' ')"-->
                <!--line-width="layer.reg.lineWidth" ng-repeat="layer in self.layers" show-equation='true'>-->
            <!--</line-formula-layer>-->
            <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()"
                max-y="self.getTop()" max-draw-y="self.getTop()" ortho-loga="self.getLogaY()"
                loga="self.getLogaX()" formula="udl" eqn-offsets="['65px', self.eqnOffsetY(udlIdx)]"
                line-color="udl.lineStyle.lineColor" line-dash="udl.lineStyle.lineStyle.join(' ')"
                line-width="udl.lineStyle.lineWidth" ng-repeat="(udlIdx, udl) in self.udls" show-equation='true'
                ng-show='!udl._notUsed'>
            </line-formula-layer>
            <polygon-layer
                ng-show="!polygon._notShow"
                min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()"
                ng-repeat="polygon in self.polygons"
                points="polygon.points"
                mode="polygon.mode">
            </polygon-layer>
            <overlay-line-layer ng-if="self.overlayLineSpec"
                min-val='self.getLeft()' max-val="self.getRight()" 
                min-draw='self.getLeft()' max-draw="self.getRight()" 
                min-y="self.getBottom()" min-draw-y="self.getBottom()"
                max-y="self.getTop()" max-draw-y="self.getTop()" 
                ortho-loga="self.getLogaY()" loga="self.getLogaX()"
                overlay-line-spec="self.overlayLineSpec">
            </overlay-line-layer>
        </layer-collection>
        <p style="position: absolute;left: 50%; transform: translateX(-50%); font-weight: bold; bottom: 0">
            {{self.getConfigXLabel()}} </p>
        <p
            style="position: absolute; top: 23px; right: 45%;text-transform: uppercase; font-weight: bold; transform: translateY(-50%);">
            {{self.getConfigTitle()}}</p>
        <p style="position: absolute;top: 23px;left: 15px; font-weight: bold; transform: translateY(-50%);">
            {{self.getConfigYLabel()}}</p>
    </div>
    <div class="statistic-table" resizable r-directions="['top']" r-flex="true">
        <div style="overflow-x: auto; position: absolute; top: 0; right: 0; left: 0; bottom: 0;">
            <wi-table-view ng-if="self.layers.length" row-count="self.getZoneNames().length"
                col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                get-row-icons="self.getStatsRowIcons" get-row-icon-style="self.getStatsIconStyle"
                row-headers="self.getZoneNames()" accessor="self.statsValue">
            </wi-table-view>
        </div>
        
    </div>
</div>
