<side-bar my-default-width="420" orientation="w" collapsed="false">
    <div style="display: flex; flex-direction: column; height: 100%;flex: 1;">
        <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
            <!-- -----WELLS----- -->
            <div ng-show="isSet(1)" style="overflow: auto;flex: 1;display:flex;flex-direction:column;">
                ${require('./tab1.html')}
            </div>
            <!-- -----ZONE----- -->
            <div ng-show="isSet(2)" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                ${require('./tab2.html')}
            </div>
            <!-- -----CONFIG----- -->
            <div ng-show="isSet(3)" style="overflow: auto; flex: 1; display: flex; flex-direction: column;">
                ${require('./tab3.html')}
            </div>
            <!-- -----PRINT SETTINGS----- -->
            <div ng-show="isSet(5)" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                ${require('./tab5.html')}
            </div>
            <!-- -----FORMULA----- -->
            <div ng-show="isSet(6)"
                style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                ${require('./tab6.html')}
            </div>
            <!-- -----REGRESSION----- -->
            <div ng-show="isSet(7)"
                style="overflow: auto;flex: 1; display: flex; flex-direction: column;">
                <div ng-show="self.layers"
                    style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: hidden; ">
                    <wi-tree-view tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
                        filter="self.layerFilter" get-icon="self.getRegIcon"
                        get-icons="self.getRegIcons" icon-style="self.getLayerIconStyle" get-children="self.noChildren" keep-children='true'
                        run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
                        click-fn='self.click2ToggleRegression'>
                    </wi-tree-view>
                </div>
                <div class="lable-option-sidebar"
                    style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                    <div style="font-size: 10px;display: flex;margin-bottom: 0;">Polygon
                        <div
                            style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                        </div>
                    </div>
                    <div style='margin-top: 10px;' class='bottom-add' ng-click="self.addPolygon()">Add</div>
                    <div style="overflow: overlay;">
                        <div class="list-formular" ng-repeat="polygon in self.polygons">
                            <div class="selection-sidebar"
                                style="padding: 9px 10px 5px 10px; flex: 4; margin-right: 15px; border: none;">
                                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                    item-label="'Y = '" item-value="self.getPolygon" params="$index"
                                    set-value="self.setPolygon" enabled="true" label-style="{}"
                                    content-style="{flex:1,float:'none','text-align':'left'}">
                                </editable>
                            </div>
                            <div class="selection-sidebar"
                                style="padding: 9px 10px 5px 10px; cursor: pointer; flex: 1; border: none;">
                                <line-style bind-line-style="polygon.lineStyle"></line-style>
                            </div>
                            <div class="fa fa-times delete-button" ng-click="self.removePolygon($index)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -----POLYGON----- -->
            <!--<div ng-show="isSet(8)"-->
                <!--style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">-->
                <!--${require('./tab8.html')}-->
            <!--</div>-->
            <!-- -----LAYERS----- -->
            <div ng-show="isSet(9)"
                style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                ${require('./tab9.html')}
            </div>
        </div>
        <div style="display: flex;">
            <span class="button-update" ng-click="self.genLayers()">
                Update
            </span>
        </div>
    </div>
    <div class="label-list-view" style=" display :flex;
            border-left: 1px solid #e4e4e4; 
            flex-direction: column;
            justify-content: start;
            padding: 0px;
            right: 0;
            position: sticky;">
        <div
            style="overflow-y: overlay; overflow-x: hidden; display :flex; flex-direction: column; justify-content: start; box-shadow: 0 10px 10px #00000017;">
            <div class="tab-with-lable" ng-class="{'active' : isSet(1)}" ng-click="setTab(1)">
                <div style="margin: 10px;">
                    Wells
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(2)}" ng-click="setTab(2)">
                <div>
                    Zone
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(3)}" ng-click="setTab(3)">
                <div>
                    Config
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(4)}" ng-click="setTab(4)">
                <div style="margin: 5px;">
                    Z Axis
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(5)}" ng-click="setTab(5)">
                <div style="margin: 4px;">
                    Print Setting
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(6)}" ng-click="setTab(6)">
                <div style="margin: 22px;">
                    Formula
                </div>
            </div>
            <div class="tab-with-lable" ng-class="{'active' : isSet(7)}" ng-click="setTab(7)">
                <div style="margin: 10px;">
                    Regression Line
                </div>
            </div>
            <!--<div class="tab-with-lable" ng-class="{'active' : isSet(8)}" ng-click="setTab(8)">-->
                <!--<div style="margin: 30px;">-->
                    <!--Polygon-->
                <!--</div>-->
            <!--</div>-->
            <div class="tab-with-lable" ng-class="{'active' : isSet(9)}" ng-click="setTab(9)">
                <div style="margin: 30px;">
                    Layers
                </div>
            </div>
        </div>
    </div>
 </side-bar>
