<div class="main">
    <wi-droppable style="display:flex; width: 100%;;" on-drop="self.onDrop"
        container-style="{display:'flex',flex: 1, position: 'relative'}">
        <div class="main-body">
            <div class="label-list-view ng-scope"
                style="display :flex; background: #f4f4f4; padding: 12px 15px; justify-content: flex-start;">
                <span ng-click="self.refresh()" class="reload-16x16"
                    style="cursor: pointer; margin-right: 10px;"></span>
                <span ng-click="self.saveToAsset()" class="save-16x16"
                    style="cursor: pointer; margin-right: 10px;"></span>
                <span ng-click="self.saveAs()" class="save-as-16x16"
                    style="cursor: pointer; margin-right: 10px;"></span>
                <span ng-click="" class="print-16x16" style="cursor: pointer; margin-right: 10px;"></span>
            </div>
            <div class="main-body-center border-style" style="position: relative;" id='layer-collection' 
                ng-mousedown="self.drawPolygon($event, self.currentPolygon)"
                oncontextmenu="(function(){event.preventDefault();return false;})()">
                <layer-collection v-padding="50" h-padding='60'>
                    <axis-layer min-val="self.getLeft()" max-val="self.getRight()" loga="self.getLogaX()"
                        n-ticks="self.getMajorX() * self.getMinorX()" minor-ticks="self.getMinorX()" precision="4"
                        grid="!!self.config.grid" placement="1">
                    </axis-layer>
                    <axis-layer min-val='self.getBottom()' max-val='self.getTop()'
                        n-ticks="self.getMajorY() * self.getMinorY()" minor-ticks="self.getMinorY()"
                        loga="self.getLogaY()" precision="4" grid="!!self.config.grid" axis-direction="'up'"
                        placement="0"></axis-layer>
                    <scatter-layer ng-show="!layer._notUsed" min-val="self.getLeft()" max-val="self.getRight()"
                        min-y="self.getBottom()" max-y="self.getTop()" loga="self.getLogaX()"
                        ortho-loga="self.getLogaY()" my-data-x="layer.dataX" my-data-y="layer.dataY" symbol="'circle'"
                        symbol-size="5" symbol-fill-style="layer.color" symbol-stroke-style="'transparent'"
                        ng-repeat="layer in self.layers">
                    </scatter-layer>
                    <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                        max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()"
                        max-y="self.getTop()" max-draw-y="self.getTop()" ortho-loga="self.getLogaY()"
                        loga="self.getLogaX()" formula="layer.reg" eqn-offsets="['50px', '0%']"
                        line-color="layer.reg.lineColor" line-dash="layer.reg.lineStyle.join(' ')"
                        line-width="layer.reg.lineWidth" ng-repeat="layer in self.layers" show-equation='true'>
                    </line-formula-layer>
                    <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                        max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()"
                        max-y="self.getTop()" max-draw-y="self.getTop()" ortho-loga="self.getLogaY()"
                        loga="self.getLogaX()" formula="udl" eqn-offsets="['50px', '0%']"
                        line-color="udl.lineStyle.lineColor" line-dash="udl.lineStyle.lineStyle.join(' ')"
                        line-width="udl.lineStyle.lineWidth" ng-repeat="udl in self.udls" show-equation='true'>
                    </line-formula-layer>
					<polygon-layer
                        min-val="self.getLeft()" max-val="self.getRight()"
                        min-y="self.getBottom()" max-y="self.getTop()"
                        points="polygon.points"
                        mode="mode" edit-point-idx="0"
						ng-repeat="polygon in self.polygons">
                    </polygon-layer>
                </layer-collection>
                <p style="position: absolute;left: 50%; transform: translateX(-50%); bottom: 0">
                    {{self.getConfigXLabel()}} </p>
                <p
                    style="position: absolute; top: 23px; right: 45%;text-transform: uppercase; font-weight: bold; transform: translateY(-50%);">
                    {{self.getConfigTitle()}}</p>
                <p style="position: absolute;top: 23px;left: 15px; transform: translateY(-50%);">
                    {{self.getConfigYLabel()}}</p>
            </div>
            <div class="statistic-table">
                <div style="overflow: auto; position: absolute;">
                    <wi-table-view ng-if="self.crossplotList.length" row-count="self.getZoneNames().length"
                        col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                        row-headers="self.getZoneNames()" accessor="self.statsValue">
                    </wi-table-view>
                </div>
            </div>
        </div>
        <div style=" height: 100%; right: 0; border-left: 1px solid #eee; box-shadow: 0 0 20px #0000001c;">
            <side-bar my-default-width="420" orientation="w" collapsed="false">
                <div style="display: flex; flex-direction: column; height: 100%;flex: 1;">
                    <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
						<!-- -----WELLS----- -->
                        <div ng-show="isSet(1)" style="overflow: auto;flex: 1;display:flex;flex-direction:column;">
                            <div class="lable-option-sidebar"
                                style="margin-top: 10px; display: flex; justify-content: space-between;">
                                <span>INPUT</span>
                                <div>
                                    <span ng-class="{'active' : self.selectionType === 'family-group'}"
                                        ng-click="self.selectionType='family-group'" class="button-with-lable"
                                        style="margin-right: 8px;">family-group</span>
                                    <span ng-class="{'active' : self.selectionType === 'family'}"
                                        ng-click="self.selectionType='family'" class="button-with-lable"
                                        style="margin-right: 8px;">family</span>
                                    <span ng-class="{'active' : self.selectionType === 'curve'}"
                                        ng-click="self.selectionType='curve'" class="button-with-lable">curve</span>
                                </div>

                            </div>
                            <div style="padding-bottom: 0;" class="lable-option-sidebar">
                                <div class="selection-sidebar">
                                    <span>X Axis</span>
                                    <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.selectionList'
                                        current-select="self.selectionXValue"
                                        on-item-changed="self.onInputXSelectionChanged">
                                    </wi-dropdown-list>
                                </div>
                            </div>
                            <div class="lable-option-sidebar">
                                <div class="selection-sidebar">
                                    <span>Y Axis</span>
                                    <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.selectionList'
                                        current-select="self.selectionYValue"
                                        on-item-changed="self.onInputYSelectionChanged">
                                    </wi-dropdown-list>
                                </div>
                            </div>
                            <div style="overflow: overlay; display:flex; flex-direction: column;">
                                <div style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px; cursor: pointer;"
                                    ng-repeat='well in self.treeConfig'>
                                    <div
                                        style="display: flex; flex-direction: row;padding: 15px 15px 6px 15px;background: #f4f4f4; align-items: center;justify-content: space-between;text-align: center;">
                                        <div style="display: flex; align-items: center;">
                                            <i class="header-icon"
                                                ng-class="{'fa fa-caret-down': !well._hidden, 'fa fa-caret-right': well._hidden}"
                                                ng-click="well._hidden = !well._hidden"></i>
                                            <span
                                                ng-class="{'red-color fa fa-eye-slash': well._notUsed, 'blue-color fa fa-eye': !well._notUsed }"
                                                ng-click="self.toggleWell(well)"
                                                style="cursor: pointer; margin-right: 15px;">
                                            </span>
                                            <span class="fa fa-times-circle" ng-click="self.removeWell(well)"
                                                style="color: rgb(163, 163, 163);cursor: pointer;margin-right: 15px;">
                                            </span>
                                            <div ng-bind="well.name" style="font-weight: bold;"></div>
                                        </div>
                                    </div>
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;display: flex; flex-direction: row;padding:11px 15px 15px 15px;background: #f4f4f4; align-items: center;justify-content: flex-start;text-align: center;">
                                        <div class="axis-bar" ng-class='{"selected": well.isSettingAxis == "xAxis"}'
                                            style="margin-right: 7px;" ng-click="well.isSettingAxis = 'xAxis'">
                                            <div ng-bind="'X'"> </div>
                                            <div style="margin: 0 10px;
                                                        max-width: 70px;
                                                        white-space: nowrap;
                                                        text-overflow: ellipsis;
                                                        overflow: hidden;"
                                                ng-bind="self.getWellSpec(well).xAxis.datasetName"></div>
                                            <div ng-bind="self.getCurve(well, 'xAxis').name"></div>
                                        </div>
                                        <div class="axis-bar" style="margin-left: 7px;"
                                            ng-class='{"selected": well.isSettingAxis == "yAxis"}'
                                            ng-click="well.isSettingAxis = 'yAxis'">
                                            <div ng-bind="'Y'"> </div>
                                            <div style="margin: 0 10px;
                                                        max-width: 70px;
                                                        white-space: nowrap;
                                                        text-overflow: ellipsis;
                                                        overflow: hidden;"
                                                ng-bind="self.getWellSpec(well).yAxis.datasetName"></div>
                                            <div ng-bind="self.getCurve(well, 'yAxis').name"></div>
                                        </div>
                                    </div>
                                    <wi-tree-view ng-show="!well._hidden" tree-root="well" get-label="self.getLabel"
                                        filter="self.getFilterForWell(well.isSettingAxis)" get-icon="self.getIcon"
                                        get-children="self.getChildren" keep-children='true' uncollapsible='true'
                                        run-match="self.runWellMatch" hide-unmatched="true" hide-search='true'
                                        click-fn='self.clickFunction'>
                                    </wi-tree-view>
                                </div>
                            </div>

                        </div>
						<!-- -----ZONE----- -->
                        <div ng-show="isSet(2)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div class="lable-option-sidebar">
                                <div class="selection-sidebar">
                                    <span>Zoneset</span>
                                    <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.zonesetList'
                                        current-select="self.zonesetName"
                                        on-item-changed="self.onZonesetSelectionChanged">
                                    </wi-dropdown-list>
                                </div>
                            </div>
                            <div style="display: flex; padding: 0 16px 7px 16px;">
                                <span ng-click="self.hideSelectedZone()" class="button-with-lable-layer"
                                    style="margin-left: 0;">Hide</span>
                                <span ng-click="self.showSelectedZone()" class="button-with-lable-layer"
                                    style="margin-left: 10px;">Show</span>
                                <span ng-click="self.hideAllZone()" class="button-with-lable-layer"
                                    style="margin-left: 10px;">Hide All</span>
                                <span ng-click="self.showAllZone()" class="button-with-lable-layer"
                                    style="margin-left: 10px;">Show All</span>
                            </div>
                            <div ng-show="self.zoneTree"
                                style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; ">
                                <wi-tree-view tree-root="self.zoneTree" get-label="self.getZoneLabel"
                                    filter="self.zoneFilter" get-icon="self.getZoneIcon" get-children="self.noChildren"
                                    keep-children='true' run-match="self.runZoneMatch" hide-unmatched="true"
                                    hide-search='false' click-fn='self.click2ToggleZone'>
                                </wi-tree-view>
                            </div>
                            <div ng-hide="self.zoneTree" style="border: 1px solid #e4e4e4; margin: 5px 15px;">
                                zonationAll
                            </div>

                        </div>
						<!-- -----CONFIG----- -->
                        <div ng-show="isSet(3)" style="
                        overflow: auto;
                        flex: 1;
                        display: flex;
                        flex-direction: column;">
                            <div class="lable-option-sidebar" style="margin-top: 10px;">
                                <span>General Options</span>
                            </div>
                            <div class="lable-option-sidebar">
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Title'" item-value="self.getConfigTitle"
                                        set-value="self.setConfigTitle" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>

                                </div>
                                <div style="margin-bottom: 15px; "></div>
                            </div>

                            <div class="lable-option-sidebar" style="margin-top: 10px;">
                                <span>X Axis Options</span>
                            </div>
                            <div class="lable-option-sidebar">
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Left'" item-value="self.getConfigLeft"
                                        set-value="self.setConfigLeft" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Right'" item-value="self.getConfigRight"
                                        set-value="self.setConfigRight" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Major X'" item-value="self.getConfigMajorX"
                                        set-value="self.setConfigMajorX" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Minor X'" item-value="self.getConfigMinorX"
                                        set-value="self.setConfigMinorX" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'X Label'" item-value="self.getConfigXLabel"
                                        set-value="self.setConfigXLabel" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                            </div>
                            <div class="lable-option-sidebar" style="margin-top: 10px;">
                                <span>Y Axis Options</span>
                            </div>
                            <div class="lable-option-sidebar">
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Top'" item-value="self.getConfigTop" set-value="self.setConfigTop"
                                        enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Bottom'" item-value="self.getConfigBottom"
                                        set-value="self.setConfigBottom" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>
                                <div style="margin-bottom: 15px; "></div>
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Major Y'" item-value="self.getConfigMajorY"
                                        set-value="self.setConfigMajorY" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Minor Y'" item-value="self.getConfigMinorY"
                                        set-value="self.setConfigMinorY" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div style="margin-bottom: 15px; "></div>

                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Y Label'" item-value="self.getConfigYLabel"
                                        set-value="self.setConfigYLabel" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                            </div>

                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Log scales
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.getLogaX()}" style="margin-right: 8px;"
                                        ng-click="self.config.logaX=!self.config.logaX" class="button-with-lable">Loga
                                        X</span>
                                    <span ng-class="{'active' : self.getLogaY()}" style="margin-right: 8px;"
                                        ng-click="self.config.logaY=!self.config.logaY" class="button-with-lable">Loga
                                        Y</span>
                                </div>
                            </div>


                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Color Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.config.colorMode === 'zone'}"
                                        ng-click="self.config.colorMode='zone'" class="button-with-lable"
                                        style="margin-right: 8px;"> Zone Color</span>
                                    <span ng-class="{'active' : self.config.colorMode === 'well'}"
                                        style="margin-right: 8px;" ng-click="self.config.colorMode='well'"
                                        class="button-with-lable">Well Color</span>
                                    <span ng-class="{'active' : self.config.colorMode === 'user'}"
                                        ng-click="self.config.colorMode='user'" class="button-with-lable">User
                                        Defined</span>
                                </div>
                            </div>
                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Depth Limitation
                                    Mode
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <div ng-show="self.config.limitType === 'interval'">
                                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                                item-label="'Top'" item-value="self.getConfigLimitTop"
                                                set-value="self.setConfigLimitTop" enabled="true" label-style="{}"
                                                content-style="{flex:1,float:'none','text-align':'right'}">
                                            </editable>
                                        </div>
                                        <div style="margin-bottom: 15px; "></div>
                                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                                item-label="'Bottom'" item-value="self.getConfigLimitBottom"
                                                set-value="self.setConfigLimitBottom" enabled="true" label-style="{}"
                                                content-style="{flex:1,float:'none','text-align':'right'}">
                                            </editable>
                                        </div>
                                        <div style="margin-bottom: 15px; "></div>
                                    </div>
                                    <span ng-class="{'active' : self.config.limitType === 'interval'}"
                                        ng-click="self. config.limitType = 'interval'" class="button-with-lable"
                                        style="margin-right: 8px;"> Interval Depth</span>
                                    <span ng-class="{'active' : self.config.limitType === 'zonal'}"
                                        ng-click="self.config.limitType = 'zonal'" class="button-with-lable">Zonal
                                        Depth</span>
                                    <div style="margin-bottom: 15px; "></div>
                                </div>
                            </div>
                        </div>
						<!-- -----PRINT SETTINGS----- -->
                        <div ng-show="isSet(5)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Orientation
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.printSettings.orientation === 'portrait'}"
                                        ng-click="self.printSettings.orientation='portrait'" class="button-with-lable"
                                        style="margin-right: 8px;">Portrait</span>
                                    <span ng-class="{'active' : self.printSettings.orientation === 'landscape'}"
                                        style="margin-right: 8px;" ng-click="self.printSettings.orientation='landscape'"
                                        class="button-with-lable">Landscape</span>
                                </div>
                            </div>
                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Aspect Ratio
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.printSettings.aspectRatio === '16:9'}"
                                        ng-click="self.printSettings.aspectRatio='16:9'" class="button-with-lable"
                                        style="margin-right: 8px;">16:9</span>
                                    <span ng-class="{'active' : self.printSettings.aspectRatio === '4:3'}"
                                        style="margin-right: 8px;" ng-click="self.printSettings.aspectRatio='4:3'"
                                        class="button-with-lable">4:3</span>
                                </div>
                            </div>
                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div style="font-size: 10px;display: flex;margin-bottom: 16px;">Alignment
                                    <div
                                        style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                                    </div>
                                </div>
                                <div>
                                    <span ng-class="{'active' : self.printSettings.alignment === 'left'}"
                                        ng-click="self.printSettings.alignment='left'" class="button-with-lable"
                                        style="margin-right: 8px;">Left</span>
                                    <span ng-class="{'active' : self.printSettings.alignment === 'center'}"
                                        style="margin-right: 8px;" ng-click="self.printSettings.alignment='center'"
                                        class="button-with-lable">Center</span>
                                    <span ng-class="{'active' : self.printSettings.alignment === 'right'}"
                                        style="margin-right: 8px;" ng-click="self.printSettings.alignment='right'"
                                        class="button-with-lable">Right</span>
                                </div>
                            </div>
                            <div class="lable-option-sidebar"
                                style="padding: 20px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
                                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Width(mm)'" item-value="self.printSettings.width"
                                        set-value="self.setWidthPrintSettings" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                            </div>
                        </div>
						<!-- -----FORMULA----- -->
                        <div ng-show="isSet(6)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div class='bottom-add' ng-click="self.addUDL()">Add</div>
                            <div style="overflow: overlay;">
                                <div class="list-formular" ng-repeat="udl in self.udls">
                                    <div class="selection-sidebar"
                                        style="padding: 9px 10px 5px 10px; flex: 4; margin-right: 15px; border: none;">
                                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                            item-label="'Y = '" item-value="self.getFnUDL" params="$index"
                                            set-value="self.setFnUDL" enabled="true" label-style="{}"
                                            content-style="{flex:1,float:'none','text-align':'left'}">
                                        </editable>
                                    </div>
                                    <div class="selection-sidebar"
                                        style="padding: 9px 10px 5px 10px; cursor: pointer; flex: 1; border: none;">
                                        <line-style bind-line-style="udl.lineStyle"></line-style>
                                    </div>
                                    <div class="fa fa-times delete-button" ng-click="self.removeUDL($index)"></div>
                                </div>
                            </div>
                        </div>
						<!-- -----REGRESSION----- -->
						<div ng-show="isSet(7)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div ng-show="self.layers"
                                style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; ">
                                <wi-tree-view tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
                                    filter="self.layerFilter" get-icon="self.getRegIcon"
                                    get-icons="self.getRegIcons" icon-style="self.getLayerIconStyle" get-children="self.noChildren" keep-children='true'
                                    run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
                                    click-fn='self.click2ToggleRegression'>
                                </wi-tree-view>
                            </div>
                        </div>
						<!-- -----POLYGON----- -->
                        <div ng-show="isSet(8)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div class='bottom-add' ng-click="self.addPolygon()">Add</div>
                            <div style="overflow: overlay;">
                                <div class="list-formular" ng-repeat="polygon in self.polygons">
                                    <div class="selection-sidebar"
                                        style="padding: 9px 10px 5px 10px; flex: 4; margin-right: 15px; border: none;">
                                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                            item-label="'Y = '" item-value="self.getPolygon" params="$index"
                                            set-value="self.setPolygon" enabled="true" label-style="{}"
                                            content-style="{flex:1,float:'none','text-align':'left'}">
                                        </editable>
                                    </div>
                                    <div class="selection-sidebar"
                                        style="padding: 9px 10px 5px 10px; cursor: pointer; flex: 1; border: none;">
                                        <line-style bind-line-style="polygon.lineStyle"></line-style>
                                    </div>
                                    <div class="fa fa-times delete-button" ng-click="self.removePolygon($index)"></div>
                                </div>
                            </div>
                        </div>
						<!-- -----LAYERS----- -->
                        <div ng-show="isSet(9)"
                            style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
                            <div style="display: flex; padding: 16px 16px 10px 16px;">
                                <span ng-click="self.hideSelectedLayer()" class="button-with-lable-layer"
                                    style="margin-left: 0px;">Hide</span>
                                <span ng-click="self.showSelectedLayer()" class="button-with-lable-layer"
                                    style="margin-left: 15px;">Show</span>
                                <span ng-click="self.hideAllLayer()" class="button-with-lable-layer"
                                    style="margin-left: 15px;">Hide All</span>
                                <span ng-click="self.showAllLayer()" class="button-with-lable-layer"
                                    style="margin-left: 15px;">Show All</span>
                            </div>
                            <div ng-show="self.layers"
                                style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; ">
                                <wi-tree-view tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
                                    filter="self.layerFilter" get-icon="self.getLayerIcon"
                                    get-icons="self.getLayerIcons" icon-style="self.getLayerIconStyle" get-children="self.noChildren" keep-children='true'
                                    run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
                                    click-fn='self.click2ToggleLayer'>
                                </wi-tree-view>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <span class="button-update" ng-click="self.genLayers()">
                            Update
                        </span>
                    </div>
                </div>
                <div class="label-list-view" style=" display :flex;
                        border-left: 1px solid #e4e4e4; 
                        flex-direction: column;
                        justify-content: start;
                        padding: 0px;
                        right: 0;
                        position: sticky;">
                    <div
                        style="overflow-y: overlay; overflow-x: hidden; display :flex; flex-direction: column; justify-content: start; box-shadow: 0 10px 10px #00000017;">
                        <div class="tab-with-lable" ng-class="{'active' : isSet(1)}" ng-click="setTab(1)">
                            <div style="margin: 10px;">
                                Wells
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(2)}" ng-click="setTab(2)">
                            <div>
                                Zone
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(3)}" ng-click="setTab(3)">
                            <div>
                                Config
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(4)}" ng-click="setTab(4)">
                            <div style="margin: 5px;">
                                Z Axis
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(5)}" ng-click="setTab(5)">
                            <div style="margin: 4px;">
                                Print Setting
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(6)}" ng-click="setTab(6)">
                            <div style="margin: 22px;">
                                Formula
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(7)}" ng-click="setTab(7)">
                            <div style="margin: 10px;">
                                Regression Line
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(8)}" ng-click="setTab(8)">
                            <div style="margin: 30px;">
                                Polygon
                            </div>
                        </div>
                        <div class="tab-with-lable" ng-class="{'active' : isSet(9)}" ng-click="setTab(9)">
                            <div style="margin: 30px;">
                                Layers
                            </div>
                        </div>
                    </div>
                </div>
             </side-bar>
        </div>
    </wi-droppable>
</div>
