<wi-droppable style="display: flex;width: 100%;background: #ffffff;z-index: 1;box-shadow: 0 4px 9px #00000014;flex-basis: 40px;border-radius: 2px;" on-drop="self.onDrop"
    container-style="{display:'flex',flex: 1, position: 'relative'}">
    <div class="tab">
        <div class="tab-name" ng-repeat="wellSpec in self.wellSpecs track by $index" ng-class="{active: tabIndex === $index}"
            ng-click="self.activateTab($index)">
            <!-- {{self.wellSpecs[$index][0].idWell}} -->
            <div ng-if="self.selectionTypes[$index] === 'curve'" class="curve-16x16" style="margin-right: 10px;"></div>
            <div ng-if="self.selectionTypes[$index] === 'family'" class="family-16x16" style="margin-right: 10px;"></div>
            <div ng-if="self.selectionTypes[$index] === 'family-group'" class="family-group-16x16"
                style="margin-right: 10px;"></div>
            {{self.selectionXValues[$index]}} - {{self.selectionYValues[$index]}}
            <!-- <div ng-click="self.removeTab($event, $index)" style="margin-left: 15px;font-size: 10px; cursor: pointer;" class="ti-close"></div> -->
        </div>
        <div class="tab-drop">
            Drop curves here
            <div style="margin-left: 15px; opacity: 0.4;" class="ti-plus"></div>
        </div>
    </div>
    <div ng-class="{'show-warning': self.warning}" class="warning">
        DROP CURVES, TRY AGIAN!
    </div>
</wi-droppable>
<div ng-if="tabIndex === $index" class="main" ng-repeat="wellSpec in self.wellSpecs track by $index">
    <multi-well-crossplot well-spec="wellSpec" zoneset-name="self.zoneNames[$index]" 
        selection-type="self.selectionTypes[$index]" 
        selection-value-list="[{
            name: 'X',
            label: 'X Axis',
            value: self.selectionXValues[$index],
            isUsed: true
        }, {
            name: 'Y',
            label: 'Y Axis',
            value: self.selectionYValues[$index],
            isUsed: true
        }, {
            name: 'Z1',
            label: 'Z1 Axis',
            value: 'Angle'
        }, {
            name: 'Z2',
            label: 'Z2 Axis',
            value: 'Diameter'
        }, {
            name: 'Z3',
            label: 'Z3 Axis',
            value: 'Density'
        }]">
    </multi-well-crossplot>
</div>